{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - Le Coin Comique's{% endblock %}

{% block content %}
    <h2> Commande validée</h2>
    <p> Paiement effectué</p>
    <hr>
{% endblock %}
